<div class="my-component">
    This component is defined in the <strong>RazorClassLibrary</strong> library.
</div>
<img style="width: 300px" alt="minion" src="demo.jpeg"/>
<style>
    .my-component {
        border: 2px dashed red;
        padding: 1em;
        margin: 1em 0;
        background-image: url('background.png');
        color: red ;
    }
</style>